body
{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
    
}
h2
{
    font-size: 35px;
}
.Orange
{
    color: orange;
}
p
{
    font-size: 25px;
    font-weight: 400;
    padding:0;
    
}
section
{
    display: flex;
    margin-bottom: 100px;
}
.half-width
{
    width: 50%;
    padding-left: 2%;
   
}
.half-width img
{
    width: 80%;
     
}
.button
{
    text-decoration: none;
   background-image: linear-gradient(#eb3349, #f45c43);
   color: white;
   font-weight: 700;
    padding: 20px 40px;
    border-radius: 20px;  
}
.about-me
{
    background-image: url(images/shapes/7.png);
    margin-top: 100px;
}
.contact-button
{
    text-decoration: none;
    background-image:linear-gradient(#eb3349, #f45c43);
    color: white;
   font-weight: 700;
    padding: 20px 40px;
    border-radius: 20px;
}
.half-width p
{
    font-weight: 400;
}
.recipies
{
    display: inline-block;
   text-align: center;
   
 
}
.my-recipies
{
    height: 100px;
    display: block;
    text-align: center;  
}
.one-third
{
    width: 30%;
    float: left;
    margin-left: 3%;
  
    
}
.box-shadow
{
    box-shadow: 10px 10px 40px gray;
    border-radius: 30px;

}
footer{
    background-color: black;
    height: 300px;
    color: white;
}
footer h2
{
    padding-top: 50px
    
}

