body
{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
    
}
.Orange
{
    color: orange;
}
p
{
    font-size: 25px;
    font-weight: 400;
    margin-block: 5%;
    
}
section
{
    display: flex;
}
.half-width
{
    width: 50%;
    padding-left: 2%;
   
}
.half-width img
{
    width: 80%;
     
}
.button
{
    text-decoration: none;
   background-image: linear-gradient(#eb3349, #f45c43);
   color: white;
   font-weight: 700;
    padding: 20px 40px;
    border-radius: 20px;  
}
.about-me
{
    background-image: url(images/shapes/7.png);
    margin-top: 100px;
}
.contact-button
{
    text-decoration: none;
    background-image:linear-gradient(#eb3349, #f45c43);
    color: white;
   font-weight: 700;
    padding: 20px 40px;
    border-radius: 20px;
}
.half-width p
{
    font-weight: 400;
}

